[Desktop Entry]
Type=Application
Exec=mykiss
Name=Mykiss
GenericName=Text Editor
Comment=Edit source code text files
Categories=Development;GTK;
Icon=mykiss
StartupNotify=true
MimeType=text/plain;
Terminal=false

